/* App.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  color: lightgray;
  background-color: #29222c;
  font-family: 'Merriweather Sans', sans-serif; /* Apply Merriweather Sans font to the entire website */
}

.App {
  text-align: center;
}

.header-content, .page-container {
  position: absolute;
  top: 50%;
  left: calc(50% - 300px); /* Adjust the left position */
  transform: translate(-50%, -50%);
  text-align: left; /* Align text to the left */
}

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; /* Align navigation content to the top right corner */
  padding: 20px;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav-left {
  margin-bottom: auto;
  font-size: 24px;
  color: lightgray;
}

.nav-right {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center icons horizontally */
}

.nav-right button {
  margin: 20px 0; /* Adjust vertical spacing between icons */
  background-color: rgba(180, 170, 200, 0.1); /* Use lighter purple hue */
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  border-radius: 50%;
  padding: 15px; /* Increase padding to make clickable region larger */
  display: flex; /* Ensure icons are centered vertically */
  justify-content: center; /* Ensure icons are centered vertically */
  align-items: center; /* Ensure icons are centered vertically */
}

.nav-right button svg {
  width: 30px;
  height: 30px;
  color: rgba(180, 170, 200, 0.8); /* Set icon color */
}

.nav-right button:hover {
  background-color: rgba(180, 170, 200, 0.3); /* Lighten the background color on hover */
}

.initials {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: rgba(180, 170, 200, 0.8);
  transition: color 0.3s ease; /* Add transition effect for color change */
  cursor: pointer;
  right: calc(30px);
}

.initials:hover {
  color: rgba(180, 170, 200, 1); /* Change color on hover */
}

.gradient-text {
  background-image: linear-gradient(to right, #00ff00, #ff00ff); /* Adjust colors as needed */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto; /* Double the size to allow for smooth movement */
  animation: animateGradient 6s linear infinite; /* Adjust animation duration and timing as needed */
}

.blinking-cursor {
  display: inline-block;
  width: 4px; /* Adjust the width of the cursor */
  height: 1em;
  background-color: white; /* Change the color of the cursor */
  animation: blink 1s infinite; /* Set blinking animation */
}

.spinning-black-hole {
  width: 50px; /* Adjust the size of the black hole */
  height: 50px; /* Adjust the size of the black hole */
  border: 2px solid transparent;
  border-radius: 50%;
  border-top-color: #000; /* Set border color to black */
  animation: spin 1s linear infinite; /* Set spinning animation */
}

@keyframes spin {
  100% {
    transform: rotate(360deg); /* Rotate the black hole 360 degrees */
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bold {
  font-weight: bold; /* Make the text bold */
}

@keyframes animateGradient {
  0% {
    background-position: 0% 50%; /* Start from left */
  }
  50% {
    background-position: 100% 50%; /* Move to right */
  }
  100% {
    background-position: 0% 50%; /* Back to left */
  }
}

@media screen and (max-width: 768px) {
  .header-content, .page-container {
    left: 20px; /* Adjust the left position for smaller screens */
  }
}

/* Dropdown menu */
.dropdown-menu {
  display: none; /* Hide dropdown menu by default */
  position: absolute; /* Position absolute for dropdown menu */
  top: 100%; /* Align dropdown menu below the name */
  left: 0;
  background-color: #333; /* Dark background color for dropdown menu */
  padding: 10px;
  transition: opacity 0.3s ease; /* Add smooth transition */
}

/* Media query for small screens (max width 600px) */
@media only screen and (max-width: 600px) {
  .nav-content {
    justify-content: center; /* Center align navigation on small screens */
  }

  .nav-left:hover .dropdown-menu {
    display: block; /* Display dropdown menu on hover */
    opacity: 1; /* Show dropdown menu with smooth transition */
  }

  .nav-right {
    display: none; /* Hide navigation buttons by default */
  }

  .nav-right button {
    display: block; /* Display buttons in dropdown menu */
    margin: 5px 0; /* Add margin between buttons */
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw; /* Use viewport width to prevent horizontal scroll */
  color: lightgray; /* Change text color as needed */
  padding: 20px;
  text-align: center;
}